doctype html
html
   head
      title Dynamic PUG Page
      link(rel="stylesheet", href="/style.css")
   body
      script(src="/main.js")
      include ./include/header.pug
      h3 I'm the main content
      img(src="/device-with-shadow.png", alt="Testing Image")
      include ./include/footer.pug